#-r requirements_other.txt

#-i https://pypi.org/simple


#torch==2.3.1 -i https://download.pytorch.org/whl/cpu

#-i https://pypi.org/simple

prometheus-client
requests

cloudpickle==3.0.0
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
dill==0.3.8
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.53.1
fsspec==2024.9.0
gymnasium==0.29.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
llvmlite==0.43.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.3
numba==0.60.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pip==24.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
sb3_contrib==2.3.0
scikit-learn==1.5.2
scipy==1.14.1
setuptools==72.1.0
shap==0.46.0
six==1.16.0
slicer==0.0.8
stable_baselines3==2.3.2
sympy==1.13.3
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.1
wheel==0.44.0

dataclasses-json==0.6.7
